@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); /* Added Lexend font */


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    animation: fadeInUp 2.5s ease-out; /* Increased duration from 1s to 2.5s */
}


/* global.css */

body {
    font-family: 'Roboto', sans-serif;
}