@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); /* Added Lexend font */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    animation: fadeInUp 2.5s ease-out; /* Increased duration from 1s to 2.5s */
}


/* global.css */

body {
    font-family: 'Roboto', sans-serif;

        background-color: #fffffa; /* Replace with your desired color */

}


/* In your global CSS file */

.dynamicFontSize {
    font-size: clamp(15rem, 5vw, 15rem); /* Adjust these values as needed */
    font-family: 'Lexend', sans-serif;
    line-height: 1.2;
    color: #171616;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
